# configuration for the provider
# environment detection based on the value of the testing variable
provider "gandi" {
  key = "gandi-apk-key"
  testing = true
}

# every change to the zone will create a new version from the previous one
# there is count(int64) versions available
resource "gandi_zone" "example_com" {
  name = "sprinkle.cloud"
}

# A Record
resource "gandi_record" "test01" {
  name    = "testa"
  zone_id = "${gandi_zone.example_com.id}"
  type    = "A"
  value   = "1.1.1.1"
  ttl     = 1000
}
